@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Oswald:wght@300&display=swap');

/* Imported and used Oswald font from Google Fonts as it is tidy and suits a quiz website*/
body {
    font-family: 'Oswald', sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

/*used percentages here for max-width so as not to have to use nedia queries for smaller devices*/
#quiz {
    max-width: 65%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid lightgray;
    background-color: #f9f9f9;
    text-align: center;
}

/* used darkgreen and white throughout the website as those are the Irish colors
 and also compliment each other well allowing for a good user experience*/
h1 {
    font-size: 78px;
    text-align: center;
    color: white;
    background-color: darkgreen;
}

h2 {
    text-decoration: underline;
}

/*this is for the text in the footer, I made the text underlined for that added bit of emphasis*/
h3{
    font-size: 60px;
    text-align: center;
    color: white;
    background-color: darkgreen;
    text-decoration: underline;
}

.question {
    font-family: 'Inter', sans-serif;
    font-size: 22px;
    color: darkgreen;
}

/* made the cursor change to a pointer and the color change to black of the submit button
for ease of use to the user*/
button[type="submit"] {
    display: block;
    margin: 30px auto;
    padding: 10px 10px;
    font-size: 22px;
    background-color: darkgreen;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
 
button[type="submit"]:hover {
     background-color: black;
}

/*made the background white to stand out from the light gray background and 
made the answer box a darker shade of grey when hovered over to allow for a more interactive user experience*/
label {
    display: block;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid lightgray;
    background-color: white;
}

label:hover {
    background-color: lightgray;
}
 
#results{
    font-family: 'Inter', sans-serif;
    font-size: 22px;
    color: darkgreen;
    max-width: 65%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid lightgray;
    background-color: #f9f9f9;
    text-align: center;
}
